<div class="hero-section">
    <!-- Slider main container -->
    <div class="swiper hero-swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <div class="slide-content">
                    <img src="{{ asset('images/slider/kayaks.png') }}" alt="Каяки" class="kayaks">
                    <div class="slide-text">
                        <h2>{{ 'main.slider.1st.title'|trans }}</h2>
                        <p>{{ 'main.slider.1st.text'|trans }}</p>
                        <a href="{{ path('app_info') }}" class="btn-primary">{{ 'main.slider.1st.button'|trans }}</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slide-content">
                    <img src="{{ asset('images/slider/view.jpg') }}" alt="Маршруты" class="kayaks">
                    <div class="slide-text">
                        <h2>{{ 'main.slider.2nd.title'|trans }}</h2>
                        <p>{{ 'main.slider.2nd.text'|trans }}</p>
                        <a href="{{ path('app_about') }}" class="btn-primary">{{ 'main.slider.2nd.button'|trans }}</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slide-content">
                    <img src="{{ asset('images/slider/campfire.jpg') }}" alt="Вайб" class="kayaks">
                    <div class="slide-text">
                        <h2>{{ 'main.slider.3rd.title'|trans }}</h2>
                        <p>{{ 'main.slider.3rd.text'|trans }}</p>
                        <a href="{{ path('app_order_new') }}" class="btn-primary">{{ 'main.slider.3rd.button'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        
        <!-- Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>