<section class="about-section">
    <div class="container">
        <h2 class="section-title">{{ 'about.history.title'|trans }}</h2>
        
        <div class="history-container">
            <p>{{ 'about.history.start'|trans }}<span class="history-highlight">{{ 'about.history.love'|trans }}</span></p>
            
            <p>{{ 'about.history.first_kayaks'|trans }}</p>
            
            <p>{{ 'about.history.growing'|trans }}<span class="history-highlight">{{ 'about.history.born'|trans }}</span>.</p>
            
            <p>{{ 'about.history.today'|trans }}</p>
            
            <p {{ 'about.history.no_change'|trans }}<span class="history-highlight">{{ 'about.history.first_goal'|trans }}</span> {{ 'about.history.second_goal'|trans }}</p>
        </div>
    </div>
</section>