<section class="about-section" style="background-color: #f9f9f9;">
    <div class="container">
        <h2 class="section-title">{{ 'about.photogallery'|trans }}</h2>
        
        <div class="gallery-container">
            <div class="gallery-item">
                <img src="{{ asset('images/gallery/banya.jpg') }}" alt="Баня">
            </div>
            <div class="gallery-item">
                <img src="{{ asset('images/gallery/city.jpg') }}" alt="Город с реки">
            </div>
            <div class="gallery-item">
                <img src="{{ asset('images/gallery/dragonfly.jpg') }}" alt="Стрекоза на пальце">
            </div>
            <div class="gallery-item">
                <img src="{{ asset('images/gallery/on_the_go.jpg') }}" alt="Живописные пейзажи">
            </div>
            <div class="gallery-item">
                <img src="{{ asset('images/gallery/road.jpg') }}" alt="Лесная дорога">
            </div>
            <div class="gallery-item">
                <img src="{{ asset('images/gallery/sky.jpg') }}" alt="Ночное небо">
            </div>
            <div class="gallery-item">
                <img src="{{ asset('images/gallery/zatoka.jpg') }}" alt="Небольшая заводь">
            </div>
            <div class="gallery-item">
                <img src="{{ asset('images/gallery/finish.jpg') }}" alt="Станция">
            </div>
            <div class="gallery-item">
                <img src="{{ asset('images/gallery/stop.jpg') }}" alt="Красота природы">
            </div>
        </div>
    </div>
</section>