<div class="popup-overlay" id="popup-rent_only">
    <div class="popup-content">
        <button class="popup-close">&times;</button>
        <h2 class="popup-title">{{ 'package.rent_only.title'|trans }}</h2>
        <div class="popup-description">
            <p>{{ 'package.rent_only.description'|trans }}</p>
        </div>
        <div class="popup-features">
            <h3>{{ 'package.features.included'|trans }}</h3>
            <ul class="feature-list">
                {% for feature in ['package.rent_only.features.equipment'] %}
                    <li class="feature-item">{{ feature|trans }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="popup-footer">
            <a href="{{ path('app_order_new', {'type': 'rent_only'}) }}" class="btn-book-now">{{ 'package.book_now'|trans }}</a>
        </div>
    </div>
</div>