{% extends 'mailer/base_email.html.twig' %}

{% block body %}
    <div class="header">
        <h1>Подтверждение заказа</h1>
    </div>
    
    <p>Здравствуйте!</p>
    <p>Благодарим вас за бронирование сплава. Ваш заказ успешно зарегистрирован в нашей системе.</p>
    
    <div class="order-summary">
        <h2>Детали заказа #{{ order.id }}</h2>
        
        <div class="info-row">
            <div class="info-label">Река:</div>
            <div>{{ order.river.label }}</div>
        </div>
        
        <div class="info-row">
            <div class="info-label">Тип сплава:</div>
            <div>{{ order.type.label }}</div>
        </div>
        
        <div class="info-row">
            <div class="info-label">Дата начала:</div>
            <div>{{ order.startDate|date('d.m.Y') }}</div>
        </div>
        
        <div class="info-row">
            <div class="info-label">Продолжительность:</div>
            <div>{{ order.durationDays }} дней</div>
        </div>
        
        <div class="info-row">
            <div class="info-label">Количество участников:</div>
            <div>{{ order.amountOfPeople }}</div>
        </div>
        
        {% if order.description %}
        <div class="info-row">
            <div class="info-label">Дополнительная информация:</div>
            <div>{{ order.description }}</div>
        </div>
        {% endif %}
    </div>
    
    <p>Наш менеджер свяжется с вами в ближайшее время для уточнения деталей.</p>
    <p>Если у вас возникли вопросы, пожалуйста, свяжитесь с нами по телефону или электронной почте.</p>
    
    <div class="footer">
        <p>С уважением, команда Choven.by</p>
        <p>Email: info@choven.by | Телефон: +375 29 706-75-85</p>
    </div>
{% endblock %}