{% extends 'mailer/base_email.html.twig' %}

{% block body %}
    <div class="header">
        <h1>{{ 'mailer.header.title'|trans }}</h1>
    </div>
    
    <p>{{ 'mailer.header.greet'|trans }}</p>
    <p>{{ 'mailer.header.confirm'|trans }}</p>
    
    <div class="order-summary">
        <h2>{{ 'mailer.order.title'|trans }} #{{ order.id }}</h2>
        
        <div class="info-row">
            <div class="info-label">{{ 'mailer.order.river'|trans }}</div>
            <div>{{ order.river.label }}</div>
        </div>
        
        <div class="info-row">
            <div class="info-label">{{ 'mailer.order.type'|trans }}</div>
            <div>{{ order.type.label }}</div>
        </div>
        
        <div class="info-row">
            <div class="info-label">{{ 'mailer.order.date'|trans }}</div>
            <div>{{ order.startDate|date('d.m.Y') }}</div>
        </div>
        
        <div class="info-row">
            <div class="info-label">{{ 'mailer.order.duration'|trans }}</div>
            <div>{{ order.durationDays }} {{ 'mailer.order.days'|trans }}</div>
        </div>
        
        <div class="info-row">
            <div class="info-label">{{ 'mailer.order.number'|trans }}</div>
            <div>{{ order.amountOfPeople }}</div>
        </div>
        
        {% if order.description %}
        <div class="info-row">
            <div class="info-label">{{ 'mailer.order.additional'|trans }}</div>
            <div>{{ order.description }}</div>
        </div>
        {% endif %}
    </div>
    
    <p>{{ 'mailer.footer.manager'|trans }}</p>
    <p>{{ 'mailer.footer.questions'|trans }}</p>
    
    <div class="footer">
        <p>{{ 'mailer.footer.regards'|trans }}</p>
        <p>Email: info@choven.by | {{ 'mailer.footer.phone'|trans }}: +375 29 706-75-85</p>
    </div>
{% endblock %}